.container {
	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: center;

	max-width: 1280px;
}

.container > div {
	display: flex;
	justify-content: right;
}

.map {
	width: 1280px;
	height: 625px;
}
