.container {
	display: grid;
	grid-template-areas:
		"title ."
		"table table"
		"form form";
}

.container > h2 {
	grid-area: title;

	margin: 50px 0 0 20px;
}

.table {
	display: grid;
	align-items: center;

	margin: 100px 20px;

	border-radius: 15px;
	box-shadow: -4px -3px 19px 25px rgb(3 3 3 / 30%);
	grid-area: table;
	grid-template-columns: 640px auto;
	grid-template-areas: "image description";
}

.blockImage {
	grid-area: image;

	display: grid;
	grid-template-rows: 1fr auto;

	padding: 20px;
}

.blockImage > img {
	width: 600px;
	height: 600px;

	border-radius: 10px;
}

.price {
	display: flex;
	align-items: center;
	justify-content: center;

	margin: 10px 0;
	padding: 10px 0;

	border-radius: 10px;
	background-color: var(--primary);
}

.price > span {
	padding: 0 10px;

	color: var(--dark-secondary);

	font-size: 22px;
	font-weight: bold;
	line-height: 26px;
}

.blockDescription {
	margin: 20px 20px 30px;

	border: 1px solid var(--primary);
	border-radius: 10px;
	grid-area: description;
}

.blockDescription div {
	display: flex;
	justify-content: space-around;

	margin: 20px;
	padding: 10px;

	color: var(--dark-secondary);
	border-radius: 10px;
	background-color: var(--primary);

	font-size: 18px;
}

.blockDescription div > span {
	width: 320px;
}

.form {
	display: grid;
	align-items: center;

	padding: 100px 40px;

	background: var(--dark-secondary);
	grid-area: form;
	gap: 100px;
	grid-template-columns: auto auto;
}

.formText {
	display: grid;
	row-gap: 40px;

	max-width: 633px;
	padding-left: 60px;

	border-left: 2px solid #C1AF99;
}

.formText > span {
	color: var(--primary);

	font-size: 20px;
	line-height: 24px;
}

.formText > span:last-child {
	font-size: 16px;
	line-height: 20px;
}

.formText > h2 {
	color: white;
}
