html,
body {
	margin: 0;
	padding: 0;

	background: #372F29;

	font-family: Montserrat, sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--white: #FFF;
	--primary: #D6C2A9;
	--text-shadow: #D2D2D2;
	--dark-primary: #D0BCA3;
	--popap: #E3D2BD;
	--dark-text: #372F29;
}
